#### REQUIREMENTS ####

INSTALLED WITH PIP:
    matplotlib
    bitmath
    pyyaml
    
INSTALLED WITH PACKAGE MANAGER:
    python3-tk (Fedora: python3-tkinter )
    snmp (Fedora: net-snmp-utils )
    